@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Raleway:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
    
}


#titulo-cabecalho {
    padding-left: 20px;
    padding-top: 70px;
    color: white;
    
}

#texto-cabecalho {
    padding-left: 25px;
    padding-top: 20px;
    color: white;
}

#cabecalho {
    background-color: #303030;
    height: 230px;
}

#informacoes {
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 55px;

}

.texto-info {
    font-weight: normal;
}

#sobre {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin: 35px;
    align-items: center;
}

#sobre-texto {
    margin-top: 35px;
    font-size: 20px;
}

#formulario {
    background-color: #303030;
    text-align: center;
   
}

#titulo-formulario {
    padding: 35px;
    font-size: 14px;
    color: white;
    
}   

input {
    width: 300px;
    height: 40px;
    background-color: white;
    margin: 13px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 12px;
    

}

button {
    width: 150px;
    height: 40px;
    background-color: #C07212;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: Raleway;
    font-weight: bolder;
    font-size: 15px;
    margin: 25px;
    border: 0;

}

